# Ignore installed npm modules
node_modules/

# Ignore build tool output, e.g. code coverage – Taken from 11ty gitignore file!
# .nyc_output/
# coverage/

# Ignore API documentation – Taken from 11ty gitignore file!
# api-docs/

# Ignore folders from source code editors
.vscode
.idea

# Ignore eleventy output when doing manuell tests – Taken from 11ty gitignore file!
# _site/

package-lock.json

README.md