---
title: "STRØM . People Product Process"
images:
- partyparrot.gif
heroimage: "https://source.unsplash.com/collection/620551/1920x1080"
---

<!doctype html>
<html class="text-gray-900 antialiased">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- Hotjar Tracking Code for strom.international -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1748768, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>

<body class="bg-gray-100">
    <nav class="flex items-center justify-between flex-wrap bg-black p-4">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <!-- <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
            </svg> -->
            <span class="font-bold text-2xl tracking-tight text-white" style="color: #FFFF00;">{{ title }}</span>
        </div>
        <!-- <div class="block lg:hidden">
            <button
                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div> -->
        <!-- <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Docs
                </a>
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Examples
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    Blog
                </a>
            </div>
            <div>
                <a href="#"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
            </div>
        </div> -->
    </nav>
    <div id="heroimage" class="flex flex-col justify-center w-full h-full object-cover bg-gray-400 p-12 bg-center"
        style="min-height:75vh;background-image:url({{heroimage}});">
        <h1 class="text-6xl text-center text-white font-black m-3"><mark>Hello, we are STRØM. Care to ship value?</mark>
            </Hello>
        </h1>
        <p class="text-center text-white text-2xl font-bold m-2"><mark>We enable you to build the right thing right. User centric and research driven.</mark></p>
        <form netlify class="flex flex-col content-center max-w-sm mx-auto pt-12">
            <!-- <div class="flex items-center border-b border-b-2 border-yellow-500 py-2"> -->
            <!-- <input
                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                    type="text" placeholder="Jane Doe" aria-label="Full name"> -->
            <button
                class="flex-shrink-0 bg-black hover:bg-yellow-400 border-black hover:border-yellow-400 text-xl border-4 font-medium text-white hover:text-black py-1 px-6"
                type="button">
                Let's talk ... +49 173 911 5 20 5
            </button>
            <!-- <button
                    class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
                    type="button">
                    Cancel
                </button> -->
            <!-- </div> -->
        </form>
    </div>
</html>